.app__contact {
  width: 70%;
}

.app__contact-heading {
  text-align: center;
  line-height: 2;
  margin-bottom: 3rem;

  h1 {
    font-size: 45px;
    font-weight: 800;
    color: var(--gray-color);

    @media screen and (max-width: 500px) {
      font-size: 25px;
    }
    @media screen and (max-width: 300px) {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 300px) {
    font-weight: 800;
  }
}

.app__contact-content {
  color: var(--lightGray-color);

  h2 {
    align-items: center;
    text-align: center;
  }

  span {
    color: var(--orange-primary-color);
  }
  @media screen and (max-width: 300px) {
    font-size: 12px;
  }
}

.app__contact-btn {
  margin: 4rem 0;
  text-align: center;
  font-size: clamp(0.1rem, 2.5vw, 1rem);

  a {
    font-weight: 800;
    color: var(--orange-primary-color);
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid;
    // padding: 0.8rem 4rem;
    padding: clamp(0.8rem, 1%, 1rem );

    &:hover {
      background-color: var(--orange-hover-color);
    }

    

    // @media screen and (max-width: 500px) {
    //   font-weight: 800;
    //   padding: 1rem 1rem;
    // }

    // @media screen and (max-width: 400px) {
    //   font-weight: 800;
    //   padding: 1rem 0.9rem;
    // }

    // @media screen and (max-width: 300px) {
    //   font-size: 10px;
    //   font-weight: 800;
    //   padding: 0.7rem 0.7rem;
    // }
  }
}
