.app__testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  // flex-direction: column;
  // align-items: center;
}

.app__testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-height: 300px;
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  row-gap: 1rem;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    min-height: 450px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.app__testimonial-feedback {
  p {
    font-size: 18px;
    line-height: 2rem;
    color: var(--lightGray-color);
    font-family: var(--font-base);
    font-weight: 400;

    @media screen and (min-width: 2000px) {
      font-size: 2rem;
      line-height: 3.5rem;
    }
  }

  h4 {
    font-weight: 800;
    color: var(--gray-color);
    margin-top: 0.5rem;
  }

  h5 {
    font-weight: 400;
    color: var(--orange-primary-color);
    margin-top: 5px;
  }

  @media screen and (max-width: 600px) {
    margin-top: 2rem;
    padding: 0;
  }
}

.app__testimonial-client{
  h2{
    font-weight: 600;
    color : var(--gray-color);
  }
}

.app__testimonial-company{
  h3{
    font-size: 16px;
    color: var(--orange-primary-color)
  }
}

.app__testimonial-btns {
  flex-direction: row;
  margin-top: 0.5rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);

    margin: 1rem;
    transition: all 0.3s ease-in-out;

    svg {
      width: 20px;
      height: 20px;
      color: var(--secondary-color);
    }

    &:hover {
      background-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 100px;
      height: 100px;

      svg {
        width: 45px;
        height: 45px;
      }
    }
  }
}

// .app__brands-work {
//   // background-color: orange;
//   padding: 30px 0 0;
//   font-weight: 800;
//   text-transform: uppercase;
//   font-size: 25px;
//   letter-spacing: 1.5px;
// }

// .app__testimonial-brands {
//   width: 80%;
//   flex-wrap: wrap;
//   margin-top: 2rem;

//   div {
//     width: 150px;
//     margin: 1.5rem;

//     img {
//       width: 100%;
//       height: auto;
//       object-fit: cover;
//       filter: grayscale(1);
//     }

//     &:hover {
//       img {
//         filter: grayscale(0);
//       }
//     }

//     @media screen and (min-width: 2000px) {
//       width: 210px;
//       margin: 2rem;
//     }

//     @media screen and (max-width: 450px) {
//       width: 120px;
//       margin: 1rem;
//     }
//   }

//   @media screen and (max-width: 800px) {
//     width: 100%;
//   }
// }
